dist/*
*egg-info*
tflogs/*
*_logs/*
lenet5*
checkpoint
*.bin
build/*
.vscode/*
tmp/*
*.pyc
ckpt/*
model/*
pretrained/*
data/*
~$*.xlsx
*.so
*.out
abc.history
script/batch_cifar10_icc.py
script/batch_tune_param_hws_icc.py